@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
    font-family: 'Lexend Deca';
    box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.react-calendar {
	width: 100%;
	line-height: 1.125em;
	border-radius: 10px;
	box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.15);
}
.react-calendar__navigation {
	margin-bottom: 2em;
}
.react-calendar__navigation button:disabled {
	background-color: #F0F0F0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
	background-color: #E6E6E6;
}
.react-calendar__month-view__weekdays {
    text-decoration: dotted underline;
}
.react-calendar__month-view__days__day--weekend {
	color: #ff0000;
}
.react-calendar__month-view__days__day--neighboringMonth {
	color: #aaaaaa;
}
.react-calendar__tile {
	padding: 14px 6.6667px;
	background: none;
	line-height: 30px;
}
.react-calendar__tile:disabled {
	background-color: #F0F0F0;
}
.react-calendar__tile--now {
	background: #FFFF76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
	background: #FFFFA9;
}